/* Change the background color for the .function code block */
// .callout.function .highlighter-rouge {
    // background-color: yellow; /* Replace YOUR_COLOR_HERE with your desired background color */
// }

// .language-c.highlighter-rouge {
    // background-color: purple;
// }

.highlight {
    background-color: rgb(217,231,252);
}

.highlight code {
    background-color: rgb(217,231,252);
}

.highlight pre {
    background-color: rgb(217,231,252);
}
